*.swp
*.swo
*.swa
_*
Cargo.lock
target
run.sh
doc
docs/rustdoc
docs/rustdoc_glm
site
.idea
node_modules
build
.DS_Store
.docusaurus

## For yarn 4: See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions