/* Style the admonitions. */

.admonition {
    margin-bottom: 0px;
    /* border: 1px solid #ecf0f1; */
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.admonition > .admonition-title {
    margin: 0;
    padding: 5px 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #ecf0f1;
    color: #2c3e50;
    background-color: #ecf0f1;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.1;
}

.admonition > * {
    margin-left: 15px;
    margin-right: 15px;
}

.admonition > *:not(.admonition-title):first-of-type,
.admonition > .admonition-title + * {
    margin-top: 15px;
}

.admonition > *:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/* Style each kind of admonition. */

.admonition.note, .admonition.note > .admonition-title {
    border-color: #3498db;
    background-color: #f4fbff;
}

.admonition.note > .admonition-title {
    color: #fff;
    background-color: #3498db;
}

.admonition.note > .admonition-title::before {
    font-family: "FontAwesome";
    content: "\f05a";
    padding-right: 0.5em;
    color: #fff;
    background-color: #3498db;
}

.admonition.warning, .admonition.warning > .admonition-title {
    border-color: #f39c12;
    background-color: #fff9ef;
}

.admonition.warning > .admonition-title {
    color: #fff;
    background-color: #f39c12;
}

.admonition.warning > .admonition-title::before {
    font-family: "FontAwesome";
    content: "\f071";
    padding-right: 0.5em;
    color: #fff;
}

.admonition.danger, .admonition.danger > .admonition-title {
    border-color: #e74c3c;
    background-color: #fff7f6;
}

.admonition.danger > .admonition-title {
    color: #fff;
    background-color: #e74c3c;
}

.admonition.danger > .admonition-title::before {
    font-family: "FontAwesome";
    content: "\f00d";
    padding-right: 0.5em;
    color: #fff;
}